{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HackedIn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'homepage/img/logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'homepage/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'homepage/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/CSI_KJSCE" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/KJSCEShutterBugs/" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/kjsce-shutterbugs/about/" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/csikjsce/" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="{% url 'homepage' %}" class="scrollto"><span>HackedIn</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>
      {% if request.user.is_authenticated %}
        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="#"><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'news' %}">TECH NEWS</a></li>
            <li><a href="{% url 'jobs:index' %}">JOB PORTAL</a></li>
            <li><a href="/forums/">Q&A FORUM</a></li>
            <li><a href="/community/">COMMUNITY</a></li>
            <li><a href="#footer">Contact Us</a></li>
            <li><a href="{% url 'profile' %}">Hello {{user.username}}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </nav><!-- .main-nav -->
      {% else %}
        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="#"><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'news' %}">TECH NEWS</a></li>
            <li><a href="{% url 'jobs:index' %}">JOB PORTAL</a></li>
            <li><a href="/forums/">Q&A FORUM</a></li>
            <li><a href="/community/">COMMUNITY</a></li>
            <li><a href="#footer">Contact Us</a></li>
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
          </ul>
        </nav><!-- .main-nav -->
      {% endif %}
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          Made with <span style="color: #e25555;">&hearts;</span> by <a href="https://www.github.com/darshanc99">Darshan Chheda</a> and <a href="https://github.com/rohiiit">Rohit Gupta.</a>
          <h2>HackedIn:<br>A COMMUNITY of <span>PROGRAMMERS!</span></h2>
          
          <div>
            {% if user.is_authenticated %}
            <a href="/forums/" class="btn-get-started scrollto">Get Started</a>
            {% else %}
            <a href="/register/" class="btn-get-started scrollto">Get Started</a>
            {% endif %}
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{% static 'homepage/img/intro-img.svg' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->
  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>HackedIn</h3>
                    <p>Want a job?<br/>Want your programming queries to be solved?<br/>
                       Want to stay updated with the latest Tech News?<br/>
                       <b>Then here is: A one stop solution for programmers.</b>
                    </p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>Our Motto</h4>
                    <p>Help the coder community to grow exponentially.</p>
                    {% if request.user.is_authenticated %}
                      <button class="btn btn-outline-primary"><a href="{% url 'profile' %}">Get Started</a></button>
                    {% else %}
                      <button type="button" class="btn btn-outline-primary"><a href="{% url 'register' %}">Get Started</a></button>
                    {% endif %}
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li class="#"><a href="{% url 'homepage' %}">Home</a></li>
                      <li><a href="{% url 'news' %}">TECH NEWS</a></li>
                      <li><a href="{% url 'jobs:index' %}">JOB PORTAL</a></li>
                      <li><a href="/forums/">Q&A FORUM</a></li>
                      <li><a href="/community/">COMMUNITY</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      115, Bhaskaracharya Building,<br>
                      K.J. Somaiya College of Engineering,<br>
                      Vidyavihar <br>
                      <strong>Phone:</strong> +91 7738 58679 5<br>
                      <strong>Email:</strong><a href="mailto:hackedin@somaiya.edu"> hackedin@somaiya.edu</a><br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/CSI_KJSCE" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/KJSCEShutterBugs/" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/kjsce-shutterbugs/about/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/csikjsce/" class="instagram"><i class="fa fa-instagram"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Send us a message</h4>
              <p>We are open to you 24*7</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>


  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'homepage/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'homepage/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'homepage/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'homepage/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'homepage/lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'homepage/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'homepage/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'homepage/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'homepage/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'homepage/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'homepage/lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'homepage/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'homepage/js/main.js' %}"></script>
</body>
</html>
