{% extends "jobs/user_profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block user_view %}

<div class="row">
  <div class="col-md-4 col-sm-offset-4">

    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <br>
        <div style="text-align:center;">
        <input class="btn btn-lg btn-primary" type="submit" name="submit" value="Submit" />
        </div>
        <br>
    </form>

  </div>
</div>
{% endblock %}
