
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  			<!-- Navbar content -->
  			<a class="navbar-brand" href="#">HackedIn</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#"><span class="sr-only">(current)</span>TechNews</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Q&A</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Apply
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Jobs</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Internships</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Collab</a>
			        </div>
			      </li>
			    </ul>
			    <ul class="navbar-nav ml-auto">
			    	<li style="color : white">Hello Username</li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
		</nav>
{% block body %}
{% endblock %}