{% extends "jobs/base.html" %}

<style>
{% block style %}
{{ block.super }}
    .title
    {
        text-align: center;
    }

    .carousel
    {
        width: auto;
        height 320px;
        max-height: 320px;
    }
{% endblock %}
</style>

{% block jumbotron_content %}
    <div class="jumbotron">
                <div class="row">
                <div class="col-sm-6">
                    <h1>Jobs</h1>
                    <p class="lead">Looking for jobs? Looking for employers?<br/>Looking for internships? Looking for interns?<br/>Looking for project collaborators? Want to collaborate to someone's project?<br/>
                        We are here to provide you the best job offers. Biggest companies and small businesses in any industry.
                        No time to waste! Looking for a job or maybe need an employee?</p>
                    <a class="btn btn-lg btn-primary" href="{% url 'jobs:job_offers' %}" role="button">Get Started</a>
                </div>
                    <div class="col-sm-6">

                        {% include 'jobs/slider.html' %}

                    </div>
                </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}