{% extends 'jobs/base.html' %}

{% block style %}
{{ block.super }}

{% endblock %}


{% block content %}

<div class="container">
{% if request.user.is_authenticated %}
  <div class="row">
    <div class="col-sm-4 col-lg-3">
      <nav class="navbar navbar-default navbar-fixed-side" style="text-align: center;">
          <p><a href="{% url 'jobs:user_applications' request.user.username %}">Your Applications</a></p>
          <p><a href="{% url 'jobs:user_offers' request.user.username %}">Your Offers</a></p>
          <p><a href="{% url 'jobs:candidates' request.user.username %}">Your Candidates</a></p>
          <p><a href="{% url 'jobs:user_conversations' request.user.username %}">Messages</a></p>
      </nav>
    </div>
    <div class="col-sm-8 col-lg-9" style="text-align: center;">
        {% block user_view %}

        {% endblock %}
    </div>
  </div>
{% else %}
    <h1>You're not logged in.</h1>
      <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>

{% endblock %}